/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

s|TitleWindow
{
	
	backgroundColor: #EFEFEF;
}

s|Button
{
	chromeColor: #FFFFFF;
}
global
{
	content-background-color: #EFEFEF;
	chromeColor: #136CB3;
}
	